@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
    --color-red: #D63030;
    --color-blue: #1E74A3;
    --color-orange: #F3A124;
    --font-novaker: "Google Sans Code", monospace;
}