<footer class="@container p-4 px-8 text-center w-full text-gray-400 font-extralight">
    <div class="text-[clamp(0.5rem,1cqw,8rem)] border-t-2 border-t-gray-600 pt-2 w-full">
        <span class="font-bold text-red">Novaker YGM</span>
        ekibi tarafından
        <span class="font-bold text-blue">sevgi</span>
        ve
        <span class="font-bold text-orange">Astro</span>
        ile geliştirildi.
    </div>
</footer>
