---
import Navigator from "./Navigator.astro";
import Logo from "./Logo.astro";
---

<header class="px-4 pb-4">
    <div class="@container/header flex items-center p-2 px-10 flex-wrap justify-center border-b-2 border-b-gray-600">
        <Logo />
        <Navigator />
    </div>
</header>
