---
import NavigatorElement from "./NavigatorElement.astro"
---

<nav class="@container/nav flex items-center @2xs/header:justify-end justify-center text-center flex-1 basis-48 flex-wrap">
    <NavigatorElement href="/">Anasayfa</NavigatorElement>
    <NavigatorElement href="/#about">Hakkında</NavigatorElement>
</nav>
